target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
demo/settings.xml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

upload
demo/src/main/java/io/github/pengxianggui/crud/demo/controller/order
demo/src/main/java/io/github/pengxianggui/crud/demo/domain/order
demo/src/main/java/io/github/pengxianggui/crud/demo/mapper/order
demo/src/main/java/io/github/pengxianggui/crud/demo/service/order
demo/src/main/resources/mapper/OrdersMapper.xml
demo/src/main/resources/mapper/OrderItemMapper.xml
demo/src/main/resources/mapper/OrderAddressMapper.xml
demo/src/main/resources/mapper/StoreMapper.xml
demo/src/test/java/io/github/pengxianggui/crud/demo/service/OrderServiceTest.java