.fc-table-column-head-cell {
  //display: inline-block;
  //width: 100%;
  text-align: center;
  height: 38px;
  line-height: 38px;
  margin: 0 10px;
}

.fc-table-column-head-cell.filter {
  cursor: pointer;

  &:hover {
    //background-color: #f5f5f5;
  }
}

.fc-dynamic-dialog {
  .el-dialog__body {
    padding: 15px;
  }
}

.fc-fast-upload.__hide .el-upload {
  display: none;
}

.fc-fast-table {
  .el-table__cell {
    padding: 0;

    .cell {
      padding: 0 3px;

      .fc-table-inline-edit-component {
        width: 100%;

        .el-input__inner {
          padding: 0 4px;
        }

        .el-input-number__decrease, .el-input-number__increase {
          width: 15px;
        }

        .el-input__prefix {
          display: none;
        }

        input {
          text-align: left;
        }


        .el-upload-list--picture-card .el-upload-list__item, .el-upload--picture-card {
          width: auto;
          height: 100%;
          aspect-ratio: 1 / 1;
          line-height: 100%;
          margin: 0;

          & .el-icon-plus {
            $uploadIconSize: 18px;
            font-size: $uploadIconSize;
            width: $uploadIconSize;
            height: $uploadIconSize;
            margin-top: calc(50% - $uploadIconSize / 2);
          }
        }

        .el-upload-list--text {
          .el-upload-list__item {
            //word-break: normal;
            margin: 0;
            line-height: 1;

            & > * {
              display: inline;
            }
          }
        }

        .el-link {
          //word-break: normal;
        }
      }

      .fc-table-inline-edit-component.valid-error {
        border: 1px solid #F56C6C;
      }
    }
  }
}